<%= image_tag("valpo_prestige_logo.png", :alt => "Valparaiso University", :id => "logo") %>
<div id="wrapper">
	<header>
		<h1>DATA V-NEW</h1>
		<p><i>The best tool for VU-ing your schedule.</i></p>
	</header>
	<article>
		
		
	</article>
</div>
	