<h2>Courses</h2>

<table>
	<tr>
		<th>Number</th>
		<th>Name</th>
		<th>Credit Hours</th>
	</tr>
	<% @courses.each do |course| %>
		<tr>
			<td><%= course.course_num %></td>
      <td><%= course.course_name %></td>
      <td><%= course.course_credits %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
		</tr>
	<% end %>

</table>