<h3><%= @course.course_name %></h3>
<p><strong>Course Number</strong>: <%= @course.course_num %></p>
<p><strong>Course Credit Hours</strong>: <%= @course.course_credits %></p>

<br>
<%= render 'sections/form' %>