/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
COLOR SCHEME
Dark Brown - rgb(78,41,19)
Light Brown - #613318
Gold - #ffcc00
FONTS
Heading - Avenir
Serif - Warnock Pro
*/


body {
	background:url(FlameCurve_BrownGold.png) top left no-repeat;
	background-size: 10vw 100vh;
	background-attachment:fixed;
	background-color: rgb(78,41,19);
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	text-align: center;
}
#wrapper {
	background-color: #fafafa;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
	max-width: 1000px;
	display: inline-block;
	min-height: 90vh;
}
#logo {
	padding: 1vh 25vw 1vh 25vw;
	height: 8vh;
}
header {
	background-color: rgba(255, 204, 0, 1);
	padding: 1% 0% 1% 0%
}
h1 {
	font-family: "Avenir", "Gotham", Arial, sans-serif;
	margin: 0px 0px 0px 0px;
}
p {
	font-family: "Warnock Pro", "Warnock", "Minion Pro", "Times New Roman", serif;
}
header > p {
	margin: 0px 0px 0px 0px;
}